html{
    background-image: url("../images/bats.gif");
    background-repeat: repeat;
}

body {
    font-family: Optima, Geneva;
    width: 800px;
    margin: auto;
    background: white;
    border: 2px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 5px 5px 5px #000000;
}

h1{
    font-size: 250%;
    color: orange;
    font-style: italic;
    text-shadow: 2px 2px #000000;
}

h2{
    font-size: 200%
}

h2::first-letter{
    font-size: 200%;
}

h3{
    font-size: 150%;
}

h4{
    font-size: 125%;
}

img{
    float: left;
}

header{
    text-indent: 50px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

a:link{
    font-weight: bold;
    color: orange;
}

a:visited{
    color: orange;
}

a:hover{
    color: green;
}

li{
  padding: 5px;  
}

footer{
    font-size: 75%;
}

.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}
