html{
    background-image: url("../images/bats.gif");
    background-repeat: repeat;
}

body {
    font-family: Optima, Geneva;
    width: 800px;
    margin: auto;
    background: white;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px 5px black;
}

h3{
    font-size: 150%;
    margin: auto;
}

h4{
    font-size: 125%;
}

.pump{
    float: left;
    margin: auto;
    margin-left: 10px;
}

#headTitle{
    font-size: 250%;
    margin: auto;
}

header{
    padding: 10px;
    text-indent: 50px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background: linear-gradient(45deg, white, orange 75%, black), orange;
}

.navigator{
    float: left;
    width: 160px;
    height: 500px;
}


#welcome{
    font-size: 200%;
    margin: auto;
}

#welcome::first-letter{
    font-size: 200%;
}

a:link{
    font-weight: bold;
    color: orange;
}

a:visited{
    color: orange;
}

a:hover{
    color: green;
}


li{
  padding: 5px;  
}

main{
    margin: 10px;  
}

p{
    margin-top: 10px;
}

.cat{
   margin: auto; 
}

footer{
    padding: 20px 0px 10px 0px;
    font-size: 75%;
    border-top-style: solid;
    border-top-width: 2px;
    background: linear-gradient(45deg, black, orange 75%, white), orange;
}


.flex-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: center;
}
